@media screen {
  .pageLayout {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
  }


  .notFound {
    gap: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }

  .notFound p {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }

  .notFoundImg {
    height: 200px;
    width: auto;
  }


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

  .notFoundImg {
    width: auto;
  }

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
